* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


/* ********************TopNav CSS********************* */


.navbar{
  display: flex;
  flex-direction: row;
  background-color: aqua;
  width: 100%;
  /* align-items: center; */
  justify-content: space-around;
  padding: 10px;
  text-align: end;
}

.links{
  padding-left: 12px;
  /* float: right; */
  text-decoration: none;
  text-align: end;
}


.quotes {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  word-break: break-all;

}

.pic {
  display: flex;
  /* justify-content: center; */
  margin-left: 80px;
  margin-top: 10px;
  flex-direction: column;
}

.navimg {
  padding-top: 10px;
  height: 600px;
  width: 600px;
  margin-top: 20px;
  border-radius: 50px;
  float: left;
}


.imgcont {
  display: flex;
  flex-direction: row;
}

h3 {
  margin-top: 100px;
  margin-left: 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 2em;
  font-weight: 100;
  word-spacing: 5px;
  font-size: 25px;
}

/********************About us*********************/